body{

margin:0;

font-family:Georgia, serif;

background:#fff5f8;

}

header{

background:#6a2c4a;

color:white;

display:flex;

justify-content:space-between;

padding:20px;

align-items:center;

}

header .logo{

height:56px;

width:auto;

}

nav a{

color:white;

text-decoration:none;

margin:15px;

font-weight:bold;

}

#menuToggle{

display:none;

background:none;

border:none;

color:white;

font-size:1.8em;

cursor:pointer;

}

@media (max-width: 768px){

header{

flex-wrap:wrap;

}

#menuToggle{

display:block;

order:1;

}

nav{

display:none;

width:100%;

flex-direction:column;

order:3;

}

nav.abierto{

display:flex;

}

nav a{

margin:10px 0;

text-align:center;

}

header section{

order:2;

width:100%;

}

.contenedor{

flex-direction:column;

align-items:center;

}

.producto{

width:90%;

}

form{

max-width:100%;

}

}
.btn-comprar{
    display:inline-block;
    background:#d63384;
    color:#fff;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.btn-comprar:hover{
    background:#b0256d;
}
.banner{

text-align:center;

padding:80px;

background:#fce4ec;

}

.banner button{

background:#712d44;

color:white;

padding:15px;

border:none;

cursor:pointer;

}

section{

padding:40px;

}

.contenedor{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.producto{

background:white;

padding:20px;

border-radius:10px;

width:250px;

box-shadow:0px 0px 10px rgb(134, 131, 131);

text-align:center;

}

.producto img{

width:100px;

height: 140px;

}

.producto button{

background:#6b2c41;

color:white;

padding:10px;

border:none;

cursor:pointer;

}

form{

display:flex;

flex-direction:column;

max-width:400px;

}

input,textarea{

margin:10px;

padding:10px;

}

footer{

background:#784c5b;

color:white;

text-align:center;

padding:20px;

}

/* Animación del banner */

.banner{

animation: aparecer 2s;

}

@keyframes aparecer{

from{

opacity:0;

transform:translateY(-40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* Tarjetas */

.producto{

transition:.4s;

}

.producto:hover{

transform:scale(1.08);

box-shadow:0px 10px 20px rgba(0,0,0,.3);

}

/* Botones */

button{

transition:.3s;

}

button:hover{

background:#632940;

transform:scale(1.05);

}

#carrito li{

display:flex;

justify-content:space-between;

align-items:center;

gap:10px;

padding:6px 0;

border-bottom:1px solid rgba(255,255,255,.3);

}

#carrito li button{

background:white;

color:#db82a0;

border:none;

padding:2px 8px;

border-radius:5px;

cursor:pointer;

font-size:.8em;

margin:0 2px;

}

#confirmacionForm{

color:#2e7d32;

font-weight:bold;

}

/* Comentarios */

.comentario{

background:white;

padding:20px;

margin:20px;

border-radius:10px;

box-shadow:0px 0px 10px #ddd;

transition:.4s;

}

.comentario:hover{

transform:translateY(-8px);

}
